# __Generators, Lambda, and Built-in Functions__

## __Generator functions__
A generator function allows iteration through values one at a time, without storing all the values in memory at once. This can be useful when dealing with large datasets or when only one value at a time is needed.

### __Define a generator function__
- This function uses yield to return values one at a time, pausing after each yield and resuming when next() is called again.
- Each time next() is called, the function continues from where it paused, and yields the next value.

In [ ]:
# Define the generator function 'myGenerator'
def myGenerator():
    # Initialize 'n' to 1
    n = 1
    # Print a message indicating the first iteration
    print('First Iteration')
    # Yield a string with the current value of 'n'
    yield 'Number 1 : n = ' + str(n)

    # Increment 'n' by 2
    n += 2
    # Print a message indicating the second iteration
    print('Second Iteration')
    # Yield a string with the current value of 'n'
    yield 'Number 2 : n = ' + str(n)

    # Increment 'n' by 3
    n += 3
    # Print a message indicating the third iteration
    print('Third Iteration')
    # Yield a string with the current value of 'n'
    yield 'Number 3 : n = ' + str(n)

## __Call the Generator__
### __Way 1: Using next() to Get Values__
- The next() retrieves the next value from the generator. Each call to next() continues from the last yield statement.
- This method allows values to be fetched one at a time.

In [ ]:
# Create a generator object by calling 'myGenerator'
gen = myGenerator()

# Print the first yielded value from the generator
print(next(gen))

First Iteration
Number 1 : n = 1

In [ ]:
# Print the second yielded value from the generator
print(next(gen))

Second Iteration
Number 2 : n = 3

In [ ]:
# Print the third yielded value from the generator
print(next(gen))

Third Iteration
Number 3 : n = 6

### __Way 2: Using a loop to iterate through the generator__
- A loop can be used to iterate through all yielded values from the generator.

In [ ]:
# Create a new generator object by calling 'myGenerator'
gen = myGenerator()
# Iterate over the generator and print each yielded value
for value in gen :
    print(value, '\n')

First Iteration
Number 1 : n = 1

Second Iteration
Number 2 : n = 3

Third Iteration
Number 3 : n = 6

## __Built-in functions__
- Python provides powerful built-in functions such as map(), filter(), and reduce() to work with lists and data processing.

In [ ]:
# Print a list of all built-in functions and variables
print(dir(__builtins__))

### __map function__
- The map() function applies the conversion function Fahrenheit to each temperature in the list temp.

In [ ]:
# Define a list of temperatures in Celsius
temp = [22.0, 45.3, 35.4, 40.0, 44.7, 21.5]
# Iterate over the list of temperatures
for T in temp:
    # Convert each temperature to Fahrenheit
    f = ((9/5) * T) + 32
    # Print the conversion result
    print('{:5.1f} in degree C is equivalent to {:6.1f} in degree F.'.format(T,f))

 22.0 in degree C is equivalent to   71.6 in degree F.
 45.3 in degree C is equivalent to  113.5 in degree F.
 35.4 in degree C is equivalent to   95.7 in degree F.
 40.0 in degree C is equivalent to  104.0 in degree F.
 44.7 in degree C is equivalent to  112.5 in degree F.
 21.5 in degree C is equivalent to   70.7 in degree F.

In [ ]:
# Define the function 'Fahrenheit' which converts Celsius to Fahrenheit
def Fahrenheit(T):
    # Return the converted temperature rounded to 1 decimal place
    return round(((9/5) * T) + 32, 1)

In [ ]:
# Use the 'map' function to apply 'Fahrenheit' to the list of temperatures
results = list(map(Fahrenheit, temp))
# Print the original list of temperatures in Celsius
print('Temp in deg C ', temp)
# Print the converted list of temperatures in Fahrenheit
print('Temp in deg F ', results)

Temp in deg C  [22.0, 45.3, 35.4, 40.0, 44.7, 21.5]
Temp in deg F  [71.6, 113.5, 95.7, 104.0, 112.5, 70.7]

### __Lambda function__
- A  lambda function is a small, anonymous function.
- It can be used inside map() without explicitly defining a separate function.

In [ ]:
# Use the 'map' function with a lambda function to convert temperatures
results = list(map(lambda T: round(((9/5) * T) + 32, 1), temp))
# Print the original list of temperatures in Celsius
print('Temp in deg C ', temp)
# Print the converted list of temperatures in Fahrenheit
print('Temp in deg F ', results)

Temp in deg C  [22.0, 45.3, 35.4, 40.0, 44.7, 21.5]
Temp in deg F  [71.6, 113.5, 95.7, 104.0, 112.5, 70.7]

### __Filter function__
- The filter() function filters only odd numbers from the list by applying a condition (n % 2 != 0).

In [ ]:
# Define a list of numbers
numbers = [32, 45, 62, 21, 55, 91, 88, 17 ]
# Initialize an empty list to store odd numbers
odd_numbers = []
# Iterate over the list of numbers
for n in numbers:
    # Check if the number is odd
    if n % 2 :
        # Append the odd number to the list
        odd_numbers.append(n)
# Print the list of odd numbers
print(odd_numbers)

[45, 21, 55, 91, 17]

In [ ]:
# Define a list of numbers
numbers = [32, 45, 62, 21, 55, 91, 88, 17 ]
# Use the 'filter' function with a lambda function to filter odd numbers
odd_numbers = list(filter ( lambda n : n % 2, numbers))
# Print the list of odd numbers
print(odd_numbers)

[45, 21, 55, 91, 17]

### __Reduce function__
- The reduce() function calculates the cumulative sum of all numbers in the list.

In [ ]:
# Define a list of numbers
numbers = [2,4,6,8,10,12]
# Initialize a variable 'tot' to store the total
tot = 0
# Iterate over the list of numbers
for n in numbers:
    # Add each number to 'tot'
    tot += n
# Print the total sum
print('Total :', tot)

Total : 42

In [ ]:
# Import the 'reduce' function from 'functools'
from _functools import reduce
# Define a list of numbers
numbers = [2,4,6,8,10,12]
# Use the 'reduce' function with a lambda function to calculate the total sum
result = reduce(lambda x , y : x + y, numbers)
# Print the total sum
print('Total = ', result)

Total =  42